<%- include('templates/cabecera', {tituloweb: 'Inicio EJS'}); %>

<div class="container">
    <hr>
</div>



<div class="container">


    <br><br>

    <!-- titulos -->
    <div class="row justify-content-center text-center">
        <h1>Error 404 not found :(</h1>
        <p>Lo sentimos, no pudimos encontrar esa solicitud </p>
    </div>

    <br><br>

    <!-- imagen -->
    <div class="row justify-content-center text-center">
        <center>
            <img src="/404.jpg" class="img-fluid" alt="...">
        </center>
    </div>



</div>



<div class="container">
    <hr>
</div>
<%- include('templates/footer', {tituloweb: 'Inicio EJS'}); %>