<%- include('templates/cabecera', {tituloweb: "lalala"}); %>

<div class="container">
    <hr>
</div>


<div class="container">


    <br><br>

    <!-- titulos -->
    <div class="row justify-content-center text-center">
        <h2>¡Disfruta de nuestros <b>servicios web</b>!</h2>
        <p>Nos dedicamos al consumo de servicios web enfocados a 
            los animales y/o empresas de rescate animal.</p>
    </div>

    <br><br>

    <!-- row con tarjetas de opciones -->
    <div class="row">

        <!-- opcion razas -->
        <div class="col-lg-6 col-sm-12 justify-content-start text-center">
            <div class="card" >
                <img src="/images/PhotoAreaYorkshie.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Todas las razas</h5>
                  <p class="card-text">En esta página podrás ver todas las razas de la BD!!</p>
                  <a href="razaList" class="btn btn-outline-primary">Ver todas las razas</a>
                </div>
            </div>
        </div>

       <!-- row subrazas -->
        <div class="col-lg-6 col-sm-12 justify-content-start text-center">
            <div class="d-xl-none d-xxl-block">
                <br>
            </div>
            <div class="card" >
                <img src="/images/PhotoAreaDupla.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Todas las subrazas</h5>
                  <p class="card-text">En esta página podrás ver todas las subrazas de la BD!!</p>
                  <a href="subRazaList" class="btn btn-outline-success">Ver todas las subrazas</a>
                </div>
            </div>
        </div>
    </div>

    <br>

    <!-- row random -->
    <div class="row justify-content-center">
        <div class="col-lg-6 col-sm-12 justify-content-end text-center">
            <div class="card" >
                <img src="/images/PhotoAreaBeagle.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Foto ALeatoria</h5>
                  <p class="card-text">En esta página podrás escoger una raza y ver una foto aleatoria <br>
                      ¡Veamos cuanta suerte tienes!
                  </p>
                  <a href="randomPhoto" class="btn btn-outline-info">Ver foto aleatoria</a>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container">
    <hr>
</div>
<%- include('templates/footer', {tituloweb: 'Inicio EJS'}); %>